/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.navbar {
  background-color: #0056b3; /* Deep blue */
}

.list-group-item {
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
